.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gift{
    width: 35rem;
    margin-left: -5rem;
}
form{
    margin-left: 5rem;
}
@media screen and (max-width: 980px) {
    
    .gift{
        width: 25rem;
        margin-left: 0;
    }
    form{
        margin-left: 0;
    }}
@media screen and (max-width: 830px) {
    
    .gift{
        width: 17rem;
        margin-left: 0;
    }
    form{
        margin-left: 0;
    }}
@media screen and (max-width: 700px) {
    .main{
        display: block;
    }
    .gift{
        margin-left: 25%;
    }
    form{
        margin: auto auto;
    }
}
@media screen and (max-width: 450px) {
    
    .gift{
        margin-left: 15%;
    }
    form{
        padding-left: 20px;
        padding-right: 20px;
        margin: auto auto;
    }
}